<ul class="socializr__doc-links">
    <li class="socializr__header"><a href="#">Menu</a></li>
    <li>
        <a href="#creation-of-sets-social-share-links">Creatiion of Sets &amp; Links</a>
        <ul>
            <li><a href="#creating-a-social-set">Creating a social set</a></li>
            <li><a href="#creation-of-a-share-set">Making a new sharing set</a></li>
            <li><a href="#creation-of-a-profile-set">Making a new profile set</a></li>
            <li><a href="#creation-of-custom-sharing-links">Making a Custom Sharing Link</a></li>
        </ul>
    </li>
    <li>
        <a href="#editing-deleting-sets-and-shares">Editing and deleting Sets and Shares</a>
        <ul>
            <li><a href="#editing-sets">Editing a set</a></li>
            <li><a href="#deleting-sets">Deleting a set</a></li>
            <li><a href="#editing-shares">Editing Shares</a></li>
            <li><a href="#deleting-shares">Deleting Shares</a></li>
        </ul>
    </li>
    <li>
        <a href="#using-socializr">Using Socializr</a>
    </li>
</ul>
